.itemCaption {
    bottom: 16px;
    margin: 28px;
    text-align: center;
    background-color: rgba(240, 255, 255, 0.428);
}

.boxLightContainer {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center;
    display: none;
}

.boxLightItems {
    width: 60%;
    height: 600px;
    background-image: url(../image/product-1.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#close {
    position: absolute;
    top: 15px;
    right: 3px
}

.ico {
    cursor: pointer !important;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
}